.coupon-content {
    color: #22355C;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top: 37px;
    left: 140px;
}
.value {
    color: #f4b13e;
}

.name {
    letter-spacing: 3px;
}

.use-time {
    font-size: 10px;
    font-weight: normal;
}


