
.click-icon{
    display: flex;
    gap: 4px;
    // font-size: 14px;
    align-items: center;


    .icon-btn {
        // font-size: 14px;
        color: #F4B13E;
        // border: 0;
        // background: #fff;
        // padding: 0;    
    }
    
    .count {
        // font-size: 14px;
        color: #888888;
    }
}

