.productList-crumb-wei {
	width: 100%;
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-block: 20px;
	a {
		color: #707070;
		margin-inline: 3px;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		color: #253559;
	}

	a.active {
		color: #253559;
	}
}