.PT-reserve-card {
      background: white;
      box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      // 切換篩選按鈕
      .navbutton {
        text-align: end;
        margin: 30px 0;
        .btn-bg {
          display: inline-block;
          padding: 5px 5px;
          background: #f5f5f5;
          border-radius: 5px;
          justify-content: center;
          .btnn {
            border: none;
            border-radius: 5px;
            color: #f4b13e;
            background: white;
            padding: 10px 35px;
            font-weight: 900;
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
            .count {
              font-weight: 500;
              border: 1px solid #f4b13e;
              border-radius: 10px;
              padding: 0 8px;
            }
            &:active {
              background: #f5f5f5;
              color: #ccc;
              border: none;
              box-shadow: none;
              .count {
                border: 1px solid;
              }
            }
          }
        }
      }
      @media (max-width: 430px) {
        .navbutton {
          text-align: center;
        }
      }
      .title {
        background: #22355c;
        color: white;
      }
      /* 下拉明細卡 */
      .detail-card {
        box-shadow: 0px 0px 7.3px 2px rgba(161, 161, 161, 0.17);
        @media (max-width: 768px) {
          .main-1 {
            flex-direction: column;
          }
        }
        .imgg {
          max-width: 150px;
          max-height: 150px;
          img {
            object-fit: cover;
            width: 100%;
            border-radius: 5px;
          }
        }
        // 文字區
        .text {
          color: #8a8a8a;
        }
        .text-1 {
          font-size: 24px;
        }
        .text-2 {
          font-size: 14px;
          background-color: #547cd7;
          color: white;
          padding: 3px 18px;
          border-radius: 8px;
        }
        .text-3 {
          font-size: 16px;
        }
        .text-4 {
          font-size: 14px;
        }
        // 明細卡片按鈕
        .btnn-group {
          display: inline-flex;
          flex-direction: column;
          gap: 10px;
          .btnn {
            border-radius: 5px;
            padding: 5px 10px;
            border: none;
            color: white;
          }
          @media (max-width: 768px) {
            .btnn {
              padding: 5px 8px;
            }
          }
          .btnn-1 {
            background-color: #bfbfbf;
          }
          .btnn-2 {
            background-color: #f4b13e;
          }
          .btnn-3 {
            background-color: #22355c;
          }
        }
        .btnn-group-position {
          justify-content: flex-end;
        }
        @media (max-width: 768px) {
          .btnn-group {
            flex-direction: row;
            justify-content: flex-start;
            font-size: 14px;
          }
          .btnn-group-position {
            justify-content: flex-start;
          }
        }

        @media (max-width: 430px) {
          .status {
            display: block;
          }
        }
      }
      @media (max-width: 768px) {
        .detail-card {
          box-shadow: none;
        }
      }
    }
